.grbar-default {
  background-color: rgba(248, 248, 248, 0);
  border-color: #777;
}
.grbar-default .navbar-brand {
  color: #fff;
}
.grbar-default .navbar-brand:hover,
.grbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.grbar-default .navbar-text {
  color: #fff;
}
.grbar-default .navbar-nav > li > a {
  color: #fff;
}
.grbar-default .navbar-nav > li > a:hover,
.grbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.grbar-default .navbar-nav > .active > a,
.grbar-default .navbar-nav > .active > a:hover,
.grbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.grbar-default .navbar-nav > .disabled > a,
.grbar-default .navbar-nav > .disabled > a:hover,
.grbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.grbar-default .navbar-toggle {
  border-color: #ddd;
}
.grbar-default .navbar-toggle:hover,
.grbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.grbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.grbar-default .navbar-collapse,
.grbar-default .navbar-form {
  border-color: #e7e7e7;
}
.grbar-default .navbar-nav > .open > a,
.grbar-default .navbar-nav > .open > a:hover,
.grbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 1000px) {
  .grbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .grbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .grbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .grbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .grbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .grbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .grbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .grbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .grbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.grbar-default .navbar-link {
  color: #777;
}
.grbar-default .navbar-link:hover {
  color: #333;
}
.grbar-default .btn-link {
  color: #777;
}
.grbar-default .btn-link:hover,
.grbar-default .btn-link:focus {
  color: #333;
}
.grbar-default .btn-link[disabled]:hover,
fieldset[disabled] .grbar-default .btn-link:hover,
.grbar-default .btn-link[disabled]:focus,
fieldset[disabled] .grbar-default .btn-link:focus {
  color: #ccc;
}
.banner {
  height: 700px;
  width: 100%;
  background: url("../image/banner.jpg") no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.banner .banner_box {
  position: absolute;
  height: 500px;
  width: 996px;
  top: 150px;
  left: 50%;
  margin-left: -498px;
}
.banner .banner_box .banner_box_left {
  height: 100%;
  background: url("../image/dawnbus.jpg") no-repeat;
  background-size: 100% 100%;
  color: #fff;
  font-size: 28px;
}
.banner .banner_box .banner_box_left span {
  position: absolute;
  bottom: 20px;
}
.banner .banner_box .banner_box_left a:hover:after {
  background-color: rgba(0, 0, 0, 0.3);
}
.banner .banner_box .banner_box_left a:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.banner .banner_box .banner_box_right {
  height: 50%;
  background-color: blue;
}
.banner .banner_box .banner_box_right a:hover:after {
  background-color: rgba(0, 0, 0, 0.3);
}
.banner .banner_box .banner_box_right a:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.banner .banner_box div:nth-child(2) {
  background: url("../image/baolie.jpg");
  background-size: 100%;
  color: #fff;
  font-size: 15px;
}
.banner .banner_box div:nth-child(2) span {
  position: absolute;
  bottom: 20px;
}
.banner .banner_box div:nth-child(3) {
  background: url("../image/nidemingzi.jpg");
  background-size: 100%;
  background-position-y: -40px;
  color: #fff;
  font-size: 15px;
}
.banner .banner_box div:nth-child(3) span {
  width: 90%;
  position: absolute;
  bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.banner .banner_box div:nth-child(4) {
  background: url("../image/lalaland.jpg");
  background-size: 100% 100%;
  color: #fff;
  font-size: 15px;
}
.banner .banner_box div:nth-child(4) span {
  position: absolute;
  bottom: 20px;
}
.banner .banner_box div:nth-child(5) {
  background: url("../image/renjianshige.jpg");
  background-size: 100%;
  color: #fff;
  font-size: 15px;
}
.banner .banner_box div:nth-child(5) span {
  position: absolute;
  bottom: 20px;
}
@media only screen and (max-width: 996px) {
  .banner {
    width: 100%;
    height: 600px;
  }
  .banner .banner_box {
    height: 386px;
    width: 767px;
    margin-left: -384px;
  }
  .navbar-brand {
    margin-left: 15px !important;
  }
}
@media only screen and (max-width: 767px) {
  .grbar-default {
    background-color: #000000;
    border-color: #777;
  }
  .banner {
    width: 100%;
    height: 822px;
  }
  .banner .banner_box {
    width: 100%;
    top: 50px;
    left: 0px;
    margin: 0;
    padding: 0;
  }
  .banner .banner_box div:nth-child(3) {
    background-position-y: -70px;
  }
}
.grocery_content .grocery_content_menu {
  height: 100px;
  width: 100%;
  position: relative;
}
.grocery_content .grocery_content_menu ul {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -300px;
}
.grocery_content .grocery_content_menu ul li {
  float: left;
  width: 100px;
  text-align: center;
  line-height: 20px;
  position: relative;
}
.grocery_content .grocery_content_menu ul li a {
  color: #000;
  font-size: 20px;
}
.grocery_content .grocery_content_menu ul li a:hover {
  text-decoration: none;
}
.grocery_content .grocery_content_menu ul li:first-child:before {
  content: '';
  background-color: #000;
  width: 4px;
  height: 4px;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  bottom: -6px;
}
.grocery_content .grocery_content_menu ul li:nth-child(n+2):hover::before {
  content: '';
  background-color: #000;
  width: 4px;
  height: 4px;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  bottom: -6px;
}
.grocery_content .grocery_content_menu ul li:nth-child(n+2)::after {
  content: '|';
  position: absolute;
  left: 0px;
}
.grocery_content .grocery_content_text {
  position: relative;
}
.grocery_content .grocery_content_text ul {
  width: 1200px;
  position: relative;
  left: 50%;
  margin-left: -600px;
}
.grocery_content .grocery_content_text ul li {
  float: left;
  height: 350px;
  width: 280px;
  margin: 10px;
  background-color: #fff;
}
.grocery_content .grocery_content_text ul li a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.grocery_content .grocery_content_text ul li a .gr_content_text_img {
  width: 100%;
  height: 200px;
}
.grocery_content .grocery_content_text ul li a .gr_content_text_img:hover {
  transition: all 0.3s;
  transform: scale(1.1);
}
.grocery_content .grocery_content_text ul li a .gr_content_text_span {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.grocery_content .grocery_content_text ul li a .gr_content_text_span span:nth-child(1) {
  font-size: 10px;
  color: #b02ff8;
  font-weight: bold;
  position: absolute;
  top: -15px;
}
.grocery_content .grocery_content_text ul li a .gr_content_text_span span:nth-child(3) {
  font-size: 20px;
  position: absolute;
  top: -3px;
}
.grocery_content .grocery_content_text ul li a .gr_content_text_span span:last-child {
  display: block;
  color: #4b4b4b;
  width: 100%;
  height: 40px;
  font-size: 15px;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  /** 对象作为伸缩盒子模型显示 **/
  -webkit-box-orient: vertical;
  /** 设置或检索伸缩盒对象的子元素的排列方式 **/
  -webkit-line-clamp: 2;
  /** 显示的行数 **/
  overflow: hidden;
  /** 隐藏超出的内容 **/
}
.grocery_content .grocery_content_text ul li:nth-child(1) a .gr_content_text_img {
  background: url("../image/cube.jpg");
  background-size: 100% 100%;
}
.grocery_content .grocery_content_text ul li:nth-child(2) a .gr_content_text_img {
  background: url("../image/RNG.jpg");
  background-size: 100% 100%;
}
.grocery_content .grocery_content_text ul li:nth-child(3) a .gr_content_text_img {
  background: url("../image/tingyuan.jpg");
  background-size: 100% 100%;
}
.grocery_content .grocery_content_text ul li:nth-child(4) a .gr_content_text_img {
  background: url("../image/zoo.jpg");
  background-size: 100% 100%;
}
@media only screen and (max-width: 1200px) {
  .grocery_content .grocery_content_text {
    position: relative;
  }
  .grocery_content .grocery_content_text ul {
    width: 996px;
    position: relative;
    left: 50%;
    margin-left: -498px;
  }
  .grocery_content .grocery_content_text ul li {
    margin-left: 32px;
  }
}
@media only screen and (max-width: 996px) {
  .grocery_content .grocery_content_text {
    position: relative;
  }
  .grocery_content .grocery_content_text ul {
    width: 768px;
    position: relative;
    left: 50%;
    margin-left: -384px;
  }
  .grocery_content .grocery_content_text ul li {
    margin-left: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .grocery_content .grocery_content_menu {
    height: 50px;
    width: 100%;
    position: relative;
  }
  .grocery_content .grocery_content_menu ul {
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -150px;
  }
  .grocery_content .grocery_content_menu ul li {
    float: left;
    width: 50px;
    text-align: center;
    line-height: 15px;
    position: relative;
  }
  .grocery_content .grocery_content_menu ul li a {
    color: #000;
    font-size: 15px;
  }
  .grocery_content .grocery_content_text ul {
    width: 100%;
    position: absolute;
    left: 0;
    margin-left: 0px;
  }
  .grocery_content .grocery_content_text ul li {
    width: 100%;
    height: 260px;
    margin: 0;
    padding: 0;
  }
  .grocery_content .grocery_content_text ul li a .gr_content_text_span span:first-child {
    display: none;
  }
  .grocery_content .grocery_content_text ul li a .gr_content_text_span span:last-child {
    display: none;
  }
}
