.grbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;

}
.grbar-default .navbar-header{
  //margin-left: 10%;
}
.grbar-default .navbar-brand {
  color: #777;

}
.grbar-default .navbar-brand:hover,
.grbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.grbar-default .navbar-text {
  color: #777;
}
.grbar-default .navbar-nav > li > a {
  color: #777;
}
.grbar-default .navbar-nav > li > a:hover,
.grbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.grbar-default .navbar-nav > .active > a,
.grbar-default .navbar-nav > .active > a:hover,
.grbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.grbar-default .navbar-nav > .disabled > a,
.grbar-default .navbar-nav > .disabled > a:hover,
.grbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.grbar-default .navbar-toggle {
  border-color: #ddd;
}
.grbar-default .navbar-toggle:hover,
.grbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.grbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.grbar-default .navbar-collapse,
.grbar-default .navbar-form {
  border-color: #e7e7e7;
}
.grbar-default .navbar-nav > .open > a,
.grbar-default .navbar-nav > .open > a:hover,
.grbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 1000px) {
  .grbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .grbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .grbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .grbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .grbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .grbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .grbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .grbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .grbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.grbar-default .navbar-link {
  color: #777;
}
.grbar-default .navbar-link:hover {
  color: #333;
}
.grbar-default .btn-link {
  color: #777;
}
.grbar-default .btn-link:hover,
.grbar-default .btn-link:focus {
  color: #333;
}
.grbar-default .btn-link[disabled]:hover,
fieldset[disabled] .grbar-default .btn-link:hover,
.grbar-default .btn-link[disabled]:focus,
fieldset[disabled] .grbar-default .btn-link:focus {
  color: #ccc;
}
//大于996不生效，覆盖不了,就修改Bs让他永远996吧
//@media screen and (min-width: 1001px) {
//  .navbar-collapse {
//    width: auto !important;
//    border-top: 0 !important;
//    -webkit-box-shadow: none !important;
//            box-shadow: none !important;
//  }
//  .navbar-collapse.collapse {
//    display: block !important;
//    height: auto !important;
//    padding-bottom: 0 !important;
//    overflow: visible !important;
//  }
//  .navbar-collapse.in {
//    overflow-y: visible !important;
//  }
//  .navbar-fixed-top .navbar-collapse,
//  .navbar-static-top .navbar-collapse,
//  .navbar-fixed-bottom .navbar-collapse {
//    padding-right: 0 !important;
//    padding-left: 0 !important;
//  }
//}
//@media screen and (min-width: 1001px) {
//  .grbar-toggle {
//    display: none !important;
//  }
//}
//@media screen and (min-width: 1001px) {
//  .navbar-header {
//    float: left !important;
//  }
//}
//@media screen and (min-width: 1001px) {
//  .container > .navbar-header,
//  .container-fluid > .navbar-header,
//  .container > .navbar-collapse,
//  .container-fluid > .navbar-collapse {
//    margin-right: 0 !important;
//    margin-left: 0 !important;
//  }
//}