.grbar-default {
  background-color: rgba(248, 248, 248, 0);
  border-color: #777;
}
.grbar-default .navbar-brand {
  color: #fff;
}
.grbar-default .navbar-brand:hover,
.grbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.grbar-default .navbar-text {
  color: #fff;
}
.grbar-default .navbar-nav > li > a {
  color: #fff;
}
.grbar-default .navbar-nav > li > a:hover,
.grbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.grbar-default .navbar-nav > .active > a,
.grbar-default .navbar-nav > .active > a:hover,
.grbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.grbar-default .navbar-nav > .disabled > a,
.grbar-default .navbar-nav > .disabled > a:hover,
.grbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.grbar-default .navbar-toggle {
  border-color: #ddd;
}
.grbar-default .navbar-toggle:hover,
.grbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.grbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.grbar-default .navbar-collapse,
.grbar-default .navbar-form {
  border-color: #e7e7e7;
}
.grbar-default .navbar-nav > .open > a,
.grbar-default .navbar-nav > .open > a:hover,
.grbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 1000px) {
  .grbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .grbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .grbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .grbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .grbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .grbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .grbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .grbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .grbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.grbar-default .navbar-link {
  color: #777;
}
.grbar-default .navbar-link:hover {
  color: #333;
}
.grbar-default .btn-link {
  color: #777;
}
.grbar-default .btn-link:hover,
.grbar-default .btn-link:focus {
  color: #333;
}
.grbar-default .btn-link[disabled]:hover,
fieldset[disabled] .grbar-default .btn-link:hover,
.grbar-default .btn-link[disabled]:focus,
fieldset[disabled] .grbar-default .btn-link:focus {
  color: #ccc;
}
.banner {
  height: 700px;
  width: 100%;
  background: url("../image/banner.jpg") no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.banner .banner_box {
  position: absolute;
  height: 500px;
  width: 996px;
  top: 150px;
  left: 50%;
  margin-left: -498px;
}
.banner .banner_box .banner_box_left {
  height: 100%;
  background: url("../image/dawnbus.jpg") no-repeat;
  background-size: 100% 100%;
}
.banner .banner_box .banner_box_right {
  height: 50%;
  background-color: blue;
}
.banner .banner_box div:nth-child(2) {
  background: url("../image/baolie.jpg");
  background-size: 100%;
}
.banner .banner_box div:nth-child(3) {
  background: url("../image/miaosu.jpeg");
  background-size: 100% 100%;
}
.banner .banner_box div:nth-child(4) {
  background: url("../image/lalaland.jpg");
  background-size: 100% 100%;
}
.banner .banner_box div:nth-child(5) {
  background: url("../image/renjianshige.jpg");
  background-size: 100% ;
}
@media only screen and (max-width: 996px) {
  .banner {
    width: 100%;
    height: 600px;
  }
  .banner .banner_box {
    height: 386px;
    width: 767px;
    margin-left: -384px;
  }
  .navbar-brand {
    margin-left: 15px!important;
  }
}
@media only screen and (max-width: 767px) {
  .banner {
    width: 100%;
  }
  .banner .banner_box {
    width: 100%;
    top: 50px;
    left: 0px;
    margin: 0;
    padding: 0;
  }
}
